<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>8D Audio</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style>
        .bot-padding {margin-bottom: 0.7rem}
        .rght-padding {margin-right: 0.7rem}
        .col-center {float: none;
                     margin: 0 auto;}
        .display-4 {font-size: 3rem}
    </style>
  </head>
  <body>
    <center>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">8D Audio</h1>
          <p class="lead">Pick your song and downlod it using <a href="https://www.saveclipbro.com/">Save Clip Bro.</a></p>
          <p class="lead">Upload your file below.</p>
        </div>






      <div class="container">

        <div class="col-md-4">
          <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

              <strong>Files:</strong><br>
              <input id="file-picker" type="file" name="file" accept="songs/*" multiple>

              <input type="submit" value="Convert Now!" id="upload-button">
          </form>

          </div>
 
            </center>
          </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
          <center>
              <form action="{{ url_for('download_by_link') }}" method="POST">
                  Link:<br>
                  <input type="text" name="link"><br>
                  <input type="submit" value="Convert Now!" id="upload-button">
                </form>
          <div class="container">
            <p class="lead"> Checkout the <a href="https://github.com/maxgillham/binary_audio">GitHub Project</a></p>
          </div>
        </center>
        </div>

          <!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
            <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
            <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

            <script type="text/javascript">


    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++)
        {
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'wav') || (ext == 'mp3'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );
</script>
    </body>

</html>
