<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>8D Audio</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style>
        .bot-padding {margin-bottom: 0.7rem}
        .rght-padding {margin-right: 0.7rem}
        .col-center {float: none;
                     margin: 0 auto;}
        .display-4 {font-size: 3rem}
    </style>
  </head>
  <body>
    <center>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">


          <h1 class="display-3">8D Audio</h1>
          <a href = "/reset">
          <button type="button", class="btn btn-primary", action="{{ url_for('reset') }}", method="POST">Try Another Song!</button>
        </a>
      </div>









            <audio controls>
            <source src="/static/effectz.wav">
            </audio>
            </center>

    </body>

</html>
